/* .main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
} */
.main {
  display: grid;
  grid-template-rows: 90% 10%;
  overflow: hidden;
  background-color: #18191a;
}

.videoContainer {
  border: rgb(124, 219, 124) solid 1px;
  position: relative;
  border-radius: 10px;
}
.videoContainer h2 {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}
.videoContainerCurrent {
  border: rgb(124, 219, 124) solid 1px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.videoContainerCurrent h2 {
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}

.videoContainerCurrent h3 {
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}
.videoContainerCurrent .video {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}
.videoContainerCurrent .image {
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}
.videoContainerCurrent video {
  border-radius: 10px;
  object-fit: cover;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 1rem;
}
.emoji {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 20px;
  align-items: center;
}

.emoji .svg1 {
  font-size: 1.8rem;
  color: rgb(65, 255, 65);
  cursor: pointer;
}

.emoji .svg2 {
  font-size: 1.8rem;
  color: rgb(65, 255, 65);
  cursor: pointer;
}
.emoji .svg3 {
  font-size: 1.8rem;
  color: red;
  cursor: pointer;
}
